* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  max-width: 50%;
  margin: auto;
}
form input {
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  border-color: olivedrab;
}
form button {
  margin-left: 10px;
  background-color: olivedrab;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
}
form {
  display: flex;
  justify-content: center;
}
.true{
    text-align: center;
    max-width: 60%;
    border: 2px solid green;
    color: green;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.false{
    text-align: center;
    max-width: 60%;
    border: 2px solid red;
    color: red;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}
